.note {
    background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    min-height: 200px;
    display: grid;
    grid-template-rows: 80% 20%;
    padding: 0 15px;
    border-radius: 10px;
}
.note-p {
    font-family: sans-serif;
}
.root {
    display: flex;
    justify-content: space-between;
}
.del-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.date {
    font-family: sans-serif;
    font-size: 14px;
}