.wrapper {
    margin: 50px 180px;
    padding: 10px;
}
.notes-wrapper {
    margin: 20px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.note-input {
    background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    min-height: 170px;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    padding: 15px;
    border-radius: 10px;
}
textarea {
    border: none;
    resize: none;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    outline: none;
}
.remaining {
    font-family: sans-serif;
    font-size: 14px;
}
.root-inp {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}
.save {
    border: 3px solid #008149;
    border-radius: 50px;
    width: 55px;
    height: 30px;
    cursor: pointer;
}
.save:hover {
    background-color: #008149;
}
.inp-title {
    width: 100%;
    height: 20px;
    font-size: 10pt;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 0;
    background-image: linear-gradient(to top, #0ebb70 0%, #24c994 100%);
}
.inp-title::placeholder {
    color: gray;
}